# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# migrations optional
*/migrations/*
!*/migrations/__init__.py

# static files
staticfiles/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/
